h1 {
    text-align: left;
    color: black;
    background-color: lightgray;
    padding: 20px 10px;
}
h2{
    text-align: center;


}

body{
    font-family: "Times New Roman", Serif;

}
form{
    text-align: center;

}
#btnback{
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: lightcoral;
    color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top:60%;
    left:34%;


}
#btnback:hover{
    cursor: pointer;
    border-color: red;


}
#btnlogin{
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: darkseagreen;
    color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top:42%;
    left:47%;


}
#btnlogin:hover{
    cursor: pointer;
    border-color: green;

}
.persinfo{
    padding: 2px 2px;
    width: 250px;

}
button{
    font-family: "Times New Roman", Serif;
    font-size: 14px;

}
