h1 {
    text-align: left;
    color: black;
    background-color: lightgray;
    padding: 20px 10px;
}
h2{
    text-align: center;


}

body{
    font-family: "Times New Roman", Serif;

}
form{
    text-align: center;

}
#buttonBack{
    background-color: white;
    border: 2px solid lightcoral;
    color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top:60%;
    left:34%;


}
#buttonBack:hover{
    cursor: pointer;
    border-color: red;


}
#buttonLogin{
    background-color: white;
    border: 2px solid darkseagreen;
    color: black;
    width: 100px;
    height: 50px;
    position: absolute;
    top:42%;
    left:47%;


}
#buttonLogin:hover{
    cursor: pointer;
    border-color: green;

}
.personalInfo{
    padding: 2px 2px;
    width: 250px;

}
button{
    font-family: "Times New Roman", Serif;
    font-size: 14px;

}
