.buttonFSB {
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative; left: 680px;

}

.buttonLSR {
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative; left: 550px;
}
.buttonBelow {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: end;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative; left: 480px;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #10c718;
}

.button1:hover {
    background-color: #10c718;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #06acf8;
}

.button2:hover {
    background-color: #06acf8;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #833fdc;
}

.button3:hover {
    background-color: #7733d2;
    color: white;
}
.button4 {
    background-color: #ffffff;
    color: black;
    border: 2px solid #c01d1d;
}

.button4:hover {
    background-color: #d20b28;
    color: white;
}
.header {
    background-color: silver;
    padding: 10px;
    text-align: left;
}

body {
    background-image: url('https://img.freepik.com/free-vector/fruit-vegetables-background-theme_23-2148505051.jpg?w=2000');
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    background-size: cover;
}