body {
    font-family: arial;
    background-image: url("background_IMG.jpg");
}
.grid-container {
    display: grid;

}

headline{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    height: 5px;



}

.loginMenu{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    height: 5px;
    padding: 20px 10px;



}

.options{
    grid-column-start: 1;
    grid-column-end: 3;
    float: left;
    padding: 10px;
    text-align: left;
    padding: 10px;


}

.execute{
    grid-column-start: 1;
    grid-column-end: 6;
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

button {
    padding:7px;
    background-color: rgb(102, 152, 227);
    color: rgb(7, 24, 48);
    border: 0px;
    cursor:pointer;
    border-radius: 12px;
    font-size: 15px;
    line-height: 20px;


}
.test{
    text-align: left;
}
